<h3 class="text-center">Public Activities</h3>
<div class="col-sm-12" *ngIf="!authService.loggedIn()">
	<div class="jumbotron text-center">
		<h2>Login to view your invites</h2>
		<a class="btn btn-lg btn-success" (click)=authService.login() routerLink="/special">Private Activities</a>
	</div>
</div>
<div id="activity-form">
<form>
	<div class="form-group">
	<input type="text" name="name" class="form-control input-lg text-center" [(ngModel)]="activityData.name" required>
	<input type="text" name="venue" class="form-control input-lg text-center" [(ngModel)]="activityData.venue" required>
	<input type="text" name="price" class="form-control input-lg text-center" [(ngModel)]="activityData.price" required>
	<input type="text" name="date" class="form-control input-lg text-center" [(ngModel)]="activityData.date" required>
	<input type="text" name="time" class="form-control input-lg text-center" [(ngModel)]="activityData.time" required>
	<button type="submit" (click)="createActivity()">Add Activity</button>
	</div>
</form>
</div>
<div class="col-sm-4" *ngFor="let activity of publicActivities">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">{{activity.name}}</h3>
		</div>

		<div class="panel-body">
		<label>
		<input type="checkbox" (click)="deleteActivity(activity._id)" bind-checked="false">
		<ul>
		<li>ID {{activity._id}}</li>
		<li>Venue {{activity.venue}}</li>
		<li>Price {{activity.price}}</li>
		<li>Date {{activity.date}}</li>
		<li>Time {{activity.time}}</li>
		</ul>
		</label>
		
		</div>
		<div class="panel-footer">
			<ul class="list-inline">
				<li>Min Price</li>
				<li class="pull-right">Max Price</li>
			</ul>
			<ul class="list-inline">
				<li><a class="btn btn-success">€{{activity.price}}</a></li>
				
				<button class="btn btn-danger" 
    			(click)="deleteActivity(activity._id)">x</button>
			</ul>
		</div>
	</div>
</div>


