<h3 class="text-center">Public Activities</h3>
<div class="col-sm-12" *ngIf="!authService.loggedIn()">
	<div class="jumbotron text-center">
		<h2>Login to view your invites</h2>
		<a class="btn btn-lg btn-success" (click)=authService.login() routerLink="/special">Private Activities</a>
	</div>
</div>
<div id="activity-form">
<form>
	<div class="form-group">
	<div class="">
		<input name="category" type="radio" [(ngModel)]="activityData.category"
		value="Sport"> Sport
		<input name="category" type="radio" [(ngModel)]="activityData.category"
		value="Drinks"> Drinks
		<input name="category" type="radio" [(ngModel)]="activityData.category"
		value="Food"> Food
		<input name="category" type="radio" [(ngModel)]="activityData.category"
		value="Movie"> Movie
		<input name="category" type="radio" [(ngModel)]="activityData.category"
		value="Artsy"> Arsty
	</div>

	<input type="text" name="name" class="form-control input-lg text-center"  [(ngModel)]="activityData.name" placeholder="name" required>
	<input type="text" name="venue" class="form-control input-lg text-center" [(ngModel)]="activityData.venue" placeholder="venue" required>
	<input type="text" name="price" class="form-control input-lg text-center" [(ngModel)]="activityData.price" placeholder="price" required>
	<input type="text" name="date" class="form-control input-lg text-center" [(ngModel)]="activityData.date" placeholder="date" required>
	<input type="text" name="time" class="form-control input-lg text-center" [(ngModel)]="activityData.time" placeholder="time" required>
	<button type="submit" (click)="createActivity()">Add Activity</button>
	</div>
</form>
</div>
<div class="col-sm-4" *ngFor="let activity of publicActivities" (click)="onSelect(activity)">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">{{activity.name}}</h3>
		</div>

		<div class="panel-body">
	
		<ul class="list-group list-group-flush">
		
		<li class="list-group-item">Venue <h4>{{activity.venue}}</h4></li>
		<li class="list-group-item">Price <h4>{{activity.price}}</h4></li>
		<li class="list-group-item">Date <h4>{{activity.date}}</h4></li>
		<li class="list-group-item">Time <h4>{{activity.time}}</h4></li>
		<li class="list-group-item">Category<h4>{{activity.category}}</h4></li>
		</ul>
		
		
		</div>
		<div class="panel-footer">
			<ul class="list-inline">
				<li>Min Price</li>
				
			</ul>
			<ul class="list-inline">
				<li><a class="btn btn-success">€{{activity.price}}</a></li>
				<button class="btn btn-default" (click)="editActivity(activity._id)"><span class="glyphicon glyphicon-pencil"></span></button>
				<button class="btn btn-danger" 
    			(click)="deleteActivity(activity._id)">x</button>
			</ul>
		</div>
	</div>
</div>


